{% extends "base.html" %}
{% block content %}
<div class="container" id="main">
    <div class="col-md-12 mb-3">
        <h3>Add Product</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'productlist' %}">Product List</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Product</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-12 my-4">
        <div class="card">
        <div class="card-header">
                <a href="{% url 'addproductcsv' %}" class="add-btn"><button type="button" class="btn btn-secondary"><i
                            class="icofont-ui-add"></i> Add Product With CSV</button></a>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Product Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="product_name" name="product_name"
                                    placeholder="Enter Your Product Name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Product Code</label>
                                <input type="text" class="form-control" id="product_code" name="product_code"
                                    placeholder="Enter Your Product Code">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control" id="category" name="category">
                                    <option>Pen</option>
                                    <option>Milk</option>
                                    <option>Foot Item</option>
                                    <option>Rice</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Sub Category</label>
                                <select class="form-control" id="sub_category" name="sub_category">
                                    <option>Pen</option>
                                    <option>Milk</option>
                                    <option>Foot Item</option>
                                    <option>Rice</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Selling Price <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="selling_price" name="selling_price"
                                    placeholder="Enter Your Selling Price">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Alert Quantity <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="alert_quantity" name="alert_quantity"
                                    placeholder="Enter Your Alert Quantity">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group d-grid">
                                <label>Product Picture</label>
                                <input type="file" class="form-control-file" id="product_picture" name="product_picture">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}