{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container" id="main">
    <div class="col-md-12 mb-3">
        <h3>Product Details</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'productlist' %}">Product</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Product Details</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-12 my-4">
        <div class="card">
            <div class="card-header">
                <a href="#" class="add-btn"><button type="button" class="btn btn-primary">Edit</button></a>
                <a href="#" class="add-btn"><button type="button" class="btn btn-success"><i
                            class="icofont-ban"></i></button></a>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <h3>3 pcs</h3>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'img/product.png' %}" alt="">
                    </div>
                    <div class="col-md-4">
                        <h3>Description</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusamus, molestiae ea
                            nobis, commodi vel dolore veritatis dicta, adipisci numquam mollitia aliquam magni! Error,
                            facere pariatur voluptate architecto vitae quibusdam?</p>
                        <p><b><i class="icofont-rupee"></i> <span>120</span></b></p>
                    </div>
                    <div class="col-md-4">
                        <h3>Key Highlights</h3>
                        <ul class="list-icons">
                            <li><i class="icofont-book pr-2"></i>Code: <span class="btn btn-primary btn-sm">11</span>
                            </li>
                            <li><i class="icofont-book pr-2"></i>Available:<strong class="text-primary">488</strong>
                            </li>
                            <li><i class="icofont-book pr-2"></i>Alert Quantity: <strong class="text-danger">1</strong>
                            </li>
                            <li><i class="icofont-book pr-2"></i>Category: </li>
                            <li><i class="icofont-book pr-2"></i>Sub-Category: </li>
                            <li><i class="icofont-book pr-2"></i>ENA: </li>
                            <li><i class="icofont-book pr-2"></i>Status: <span
                                    class="btn btn-success btn-sm">Active</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3>Purchases and Sales</h3>
                </div>
                <hr>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <form class="d-flex justify-content-center">
                            <div class="form-group">
                                <label>Start Date</label>
                                <input type="date" class="form-control" id="start_date" name="start_date">
                            </div>
                            <span class="date-to">To</span>
                            <div class="form-group">
                                <label>End Date</label>
                                <input type="date" class="form-control" id="end_date" name="end_date">
                            </div>

                            <div class="pt-4 pl-3">
                                <button type="submit" class="btn btn-primary"><i class="icofont-ui-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="display datatable" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="col-sm-2">Date</th>
                                    <th class="col-sm-4">Details</th>
                                    <th class="col-sm-2">Address</th>
                                    <th class="col-sm-1">PUR QTY</th>
                                    <th class="col-sm-1">PUR Price</th>
                                    <th class="col-sm-1">PUR Total</th>
                                    <th class="col-sm-1">PUR Return QTY</th>
                                    <th class="col-sm-1">PUR Return Price</th>
                                    <th class="col-sm-1">PUR Return Total</th>
                                    <th class="col-sm-1">Sale QTY</th>
                                    <th class="col-sm-1">Sale Price</th>
                                    <th class="col-sm-1">Sale Total</th>
                                    <th class="col-sm-1">Sales Return QTY</th>
                                    <th class="col-sm-1">Sales Return Price</th>
                                    <th class="col-sm-1">Sales Return Total</th>
                                    <th class="col-sm-1">Inventory Product Quantity</th>
                                    <th class="col-sm-1">Inventory Product price</th>
                                    <th class="col-sm-1">Inventory total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-sm-2">&lt;2021-09-01</td>
                                    <td class="col-sm-4">Prevoius Years Purchase</td>
                                    <td class="col-sm-2"></td>
                                    <td class="col-sm-1">503</td>
                                    <td class="col-sm-1">80.12</td>
                                    <td class="col-sm-1">40300</td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-2">&lt;2021-09-01</td>
                                    <td class="col-sm-4">Prevoius Years Purchase Return</td>
                                    <td class="col-sm-2"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1">0</td>
                                    <td class="col-sm-1">0</td>
                                    <td class="col-sm-1">0</td>

                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-2">&lt;2021-09-01</td>
                                    <td class="col-sm-4">Prevoius Years Sales</td>
                                    <td class="col-sm-2"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1">17</td>
                                    <td class="col-sm-1">120.00</td>
                                    <td class="col-sm-1">2040</td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td class="col-sm-2">&lt;2021-09-01</td>
                                    <td class="col-sm-4">Prevoius Years Sale Return</td>
                                    <td class="col-sm-2"></td>
                                    <td class="col-sm-2"></td>
                                    <td class="col-sm-2"></td>
                                    <td class="col-sm-2"></td>
                                    <td class="col-sm-2"></td>
                                    <td class="col-sm-2"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"> 0 </td>
                                    <td class="col-sm-1">0 </td>

                                    <td class="col-sm-1">0</td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-1"></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#0F0">&lt;2021-09-01</td>
                                    <td bgcolor="#0F0">Inventory Adjustments</td>
                                    <td bgcolor="#0F0"></td>
                                    <td bgcolor="#0F0"></td>
                                    <td bgcolor="#0F0"></td>
                                    <td bgcolor="#0F0"></td>
                                    <td bgcolor="#0F0"></td>
                                    <td bgcolor="#0F0"></td>
                                    <td bgcolor="#0F0"></td>
                                    <td bgcolor="#0F0"></td>
                                    <td bgcolor="#0F0"></td>
                                    <td bgcolor="#0F0"></td>
                                    <td bgcolor="#0F0"></td>
                                    <td bgcolor="#0F0"></td>
                                    <td bgcolor="#0F0"></td>
                                    <td bgcolor="#0F0"><b style="color:black">2</b></td>
                                    <td bgcolor="#0F0"><b style="color:black">0.00</b></td>
                                    <td bgcolor="#0F0"><b style="color:black">0</b></td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3"><b>Total (2021-09-01 to 2021-09-30)</b></td>
                                    <td>0</td>
                                    <td><b style="color:black">0</b></td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td><b style="color:black">0</b></td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td><b style="color:black">0 </b></td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td><b style="color:black">0 </b></td>
                                    <td>0</td>
                                    <td class="col-sm-1">0</td>
                                    <td><b>0</b></td>
                                    <td class="col-sm-1">0</td>
                                </tr>
                                <tr>
                                    <td colspan="3"><b>Grand Total </b></td>
                                    <td>503</td>
                                    <td><b style="color:black">80.12</b></td>
                                    <td>40300</td>
                                    <td>0</td>
                                    <td><b style="color:black">0</b></td>
                                    <td>0</td>
                                    <td>17</td>
                                    <td><b style="color:black">120.00 </b></td>
                                    <td>2040</td>
                                    <td>0</td>
                                    <td><b style="color:black">0 </b></td>
                                    <td>0</td>
                                    <td class="col-sm-1">2</td>
                                    <td class="col-sm-1"><b style="color:black">0.00</b></td>
                                    <td class="col-sm-1">0</td>
                                </tr>
                                <tr>
                                    <th class="col-sm-2">Date</th>
                                    <th class="col-sm-4">Details</th>
                                    <th class="col-sm-2">Address</th>
                                    <th class="col-sm-1">PUR QTY</th>
                                    <th class="col-sm-1">PUR Price</th>
                                    <th class="col-sm-1">PUR Total</th>
                                    <th class="col-sm-1">PUR Return QTY</th>
                                    <th class="col-sm-1">PUR Return Price</th>
                                    <th class="col-sm-1">PUR Return Total</th>
                                    <th class="col-sm-1">Sale QTY</th>
                                    <th class="col-sm-1">Sale Price</th>
                                    <th class="col-sm-1">Sale Total</th>
                                    <th class="col-sm-1">Sales Return QTY</th>
                                    <th class="col-sm-1">Sales Return Price</th>
                                    <th class="col-sm-1">Sales Return Total</th>
                                    <th class="col-sm-1">Inventory Product Quantity</th>
                                    <th class="col-sm-1">Inventory Product price</th>
                                    <th class="col-sm-1">Inventory total</th>
                                </tr>
                                <tr>
                                    <td colspan="3">Avaiable Quantity: (<b>Purchase - P.RTV - Sales + IA</b>)</td>
                                    <td colspan="1"><b>488 </b></td>
                                    <td colspan="6">Avaiable Stock Price (Avaiable Quantity * AVG. Purchase Price):
                                        <b>39098.56</b>
                                    </td>
                                    <td colspan="6">Profit or Loss: <b>(Sales - Sales RTV - Purchase + P.RTV + IA +
                                            Stock)</b></td>
                                    <td colspan="3"><b>838.56</b></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}